<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteBase /prueba/

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^algo.html$ index.php [L]
    RewriteRule ^c([nmd])([a-zA-Z0-9_-]+)/?$ index.php?tipo=$1&codigo=$2 [L]
    #RewriteRule ^c([nmd])([a-zA-Z0-9_-]+)/?$ soap.php?enviar=true&codigo=$1&seguridad=$2 [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>
